/* Reset some default styles */
body, h2, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2{
    font-weight: bolder;
    color: white;
}

/* Set background color */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

/* Sidebar Styles */
.sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 20px;
}

.sidebar header {
    text-align: center;
}

.sidebar nav ul {
    padding: 0;
}

.sidebar nav ul li {
    padding: 10px 0;
    text-align: center;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 18px;
    transition: 0.2s;
}

.sidebar nav ul li a:hover {
    background-color: #444;
}

/* Content Styles */
.content {
    margin-left: 250px;
    padding: 20px;
}

button{
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    color: white;
}